.git
.github
.gitignore
node_modules
**/node_modules
pnpm-store
coverage
# Temporarily commented out to ensure built packages are included
# dist
# **/dist
# frontend/dist
*.log
.env
.env.*
docker-compose.yml
pnpm-debug.log
