# dependencies
node_modules/
.pnpm-store

# build outputs
dist/
build/
.turbo/

# testing
coverage/
.nyc_output/

# editor
.idea/
.vscode/

# environment
.env
.env.*
infra/k8s/secrets.yaml

# misc
*.log
.DS_Store
