apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: battlescope
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: notification-service
          image: petdog/battlescope-notification:v3.0.2
          imagePullPolicy: Always
          ports:
            - containerPort: 3005
          env:
            - name: PORT
              value: "3005"
            - name: KAFKA_BROKERS
              value: redpanda:9092
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: battlescope
spec:
  type: NodePort
  selector:
    app: notification-service
  ports:
    - port: 3005
      targetPort: 3005
      nodePort: 30105
