apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: battlescope
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      imagePullSecrets:
        - name: dockerhub-creds
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:latest
          imagePullPolicy: Always
          env:
            - name: COLLECTOR_OTLP_ENABLED
              value: 'true'
            - name: METRICS_STORAGE_TYPE
              value: prometheus
            - name: PROMETHEUS_SERVER_URL
              value: http://prometheus:9090
          ports:
            - name: ui
              containerPort: 16686
              protocol: TCP
            - name: otlp-grpc
              containerPort: 4317
              protocol: TCP
            - name: otlp-http
              containerPort: 4318
              protocol: TCP
            - name: admin
              containerPort: 14269
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: battlescope
  labels:
    app: jaeger
spec:
  type: ClusterIP
  selector:
    app: jaeger
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
    - name: admin
      port: 14269
      targetPort: admin
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-ui
  namespace: battlescope
  labels:
    app: jaeger
spec:
  type: NodePort
  selector:
    app: jaeger
  ports:
    - name: ui
      port: 16686
      targetPort: ui
      nodePort: 30686
