global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:9464']
  - job_name: 'api'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'api:3000'
          - 'battlescope-api:3000'
          - 'api.battlescope.svc.cluster.local:3000'
        labels:
          service: api
          tier: backend
  - job_name: 'ingest'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'ingest:3002'
          - 'battlescope-ingest:3002'
          - 'ingest.battlescope.svc.cluster.local:3002'
        labels:
          service: ingest
          tier: backend
  - job_name: 'clusterer'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'clusterer:3003'
          - 'battlescope-clusterer:3003'
          - 'clusterer.battlescope.svc.cluster.local:3003'
        labels:
          service: clusterer
          tier: backend
  - job_name: 'enrichment'
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'enrichment:3004'
          - 'battlescope-enrichment:3004'
          - 'enrichment.battlescope.svc.cluster.local:3004'
        labels:
          service: enrichment
          tier: backend
